<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cells</key>
	<array>
		<dict>
			<key>cellType</key>
			<string>button</string>
			<key>cellIdentifier</key>
			<string>b01</string>
			<key>cellConfigs</key>
			<dict>
				<key>bgColor</key>
				<string>200200200</string>
				<key>buttonBgColor</key>
				<string></string>
				<key>buttonTextColor</key>
				<string>120120120</string>
				<key>buttonTextFont</key>
				<string>Helvetica-bold</string>
				<key>buttonTextSize</key>
				<integer>16</integer>
				<key>buttonText</key>
				<string>press here</string>
				<key>linkedFunc</key>
				<string>buttonPressed</string>
			</dict>
		</dict>
		<dict>
			<key>cellType</key>
			<string>field</string>
			<key>cellIdentifier</key>
			<string>f01</string>
			<key>cellConfigs</key>
			<dict>
				<key>bgColor</key>
				<string>220220220</string>
				<key>labelTextColor</key>
				<string>100100100</string>
				<key>labelTextFont</key>
				<string>Helvetica</string>
				<key>labelTextSize</key>
				<integer>14</integer>
				<key>labelText</key>
				<string>fill:</string>
				<key>placeholderTextColor</key>
				<string>180180180</string>
				<key>placeholderTextFont</key>
				<string>Helvetica-light</string>
				<key>placeholderTextSize</key>
				<integer>12</integer>
				<key>placeholderText</key>
				<string>fill with value</string>
				<key>linkedFunc</key>
				<string>placeCommas</string>
			</dict>
		</dict>
		<dict>
			<key>cellType</key>
			<string>header</string>
			<key>cellIdentifier</key>
			<string>h01</string>
			<key>cellConfigs</key>
			<dict>
				<key>bgColor</key>
				<string>255255255</string>
				<key>textColor</key>
				<string>000000000</string>
				<key>textFont</key>
				<string>Helvetica</string>
				<key>textSize</key>
				<integer>16</integer>
				<key>text</key>
				<string>Olá</string>
			</dict>
		</dict>
	</array>
	<key>mainAttr</key>
	<dict>
		<key>bgColor</key>
		<string>000000000</string>
		<key>textColor</key>
		<string>000000000</string>
		<key>textFont</key>
		<string>Helvetica</string>
		<key>textSize</key>
		<integer>14</integer>
		<key>keyboardDismissOnTouchesBegan</key>
		<false/>
	</dict>
</dict>
</plist>
